# SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure Excalidraw collaboration server path exists
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ excalidraw_room_uid }}"
    group: "{{ excalidraw_room_gid }}"
  with_items:
    - "{{ excalidraw_room_base_path }}"

- name: Ensure Excalidraw collaboration server support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ excalidraw_room_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ excalidraw_room_uid }}"
    group: "{{ excalidraw_room_gid }}"
  with_items:
    - env
    - labels
  register: excalidraw_room_support_files_result

- name: Run if self-building of Excalidraw collaboration server container image is not enabled
  when: "not excalidraw_room_container_image_self_build | bool"
  block:
    - name: Ensure Excalidraw collaboration server container image is pulled via community.docker.docker_image
      when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
      community.docker.docker_image:
        name: "{{ excalidraw_room_container_image }}"
        source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
        force_source: "{{ excalidraw_room_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else excalidraw_room_container_image_force_pull }}"
      register: excalidraw_room_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: excalidraw_room_container_image_pull_result is not failed

    - name: Ensure Excalidraw collaboration server container image is pulled via ansible.builtin.command
      when: devture_systemd_docker_base_container_image_pull_method == 'command'
      ansible.builtin.command:
        cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ excalidraw_room_container_image }}"
      register: excalidraw_room_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: excalidraw_room_container_image_pull_result is not failed
      changed_when: "'Downloaded newer image' in excalidraw_room_container_image_pull_result.stdout"

- name: Run if self-building of Excalidraw collaboration server container image is enabled
  when: "excalidraw_room_container_image_self_build | bool"
  block:
    - name: Ensure Excalidraw collaboration server repository is present on self-build
      ansible.builtin.git:
        repo: "{{ excalidraw_room_container_image_self_build_repo }}"
        version: "{{ excalidraw_room_container_image_self_build_repo_version }}"
        dest: "{{ excalidraw_room_container_image_self_build_src_files_path }}"
        force: "yes"
      register: excalidraw_room_git_pull_results

    - name: Ensure Excalidraw collaboration server container image is built
      community.docker.docker_image:
        name: "{{ excalidraw_room_container_image_self_build_name }}"
        source: build
        force_source: "{{ excalidraw_room_git_pull_results.changed if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else excalidraw_room_git_pull_results.changed }}"
        build:
          dockerfile: Dockerfile
          path: "{{ excalidraw_room_container_image_self_build_src_files_path }}"
          pull: true
          args:
      register: excalidraw_room_container_image_build_result

- name: Ensure Excalidraw collaboration server container network is created via community.docker.docker_network
  when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
  community.docker.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ excalidraw_room_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"

- name: Ensure Excalidraw collaboration server container network is created via ansible.builtin.command
  when: devture_systemd_docker_base_container_network_creation_method == 'command'
  ansible.builtin.command:
    cmd: >-
      {{ devture_systemd_docker_base_host_command_docker }} network create
      {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
      {{ devture_systemd_docker_base_container_networks_driver_options_string }}
      {{ excalidraw_room_container_network }}
  register: network_creation_result
  changed_when: network_creation_result.rc == 0
  failed_when: network_creation_result.rc != 0 and 'already exists' not in network_creation_result.stderr

- name: Ensure Excalidraw collaboration server systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/excalidraw-room.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ excalidraw_room_identifier }}.service"
    mode: "0644"
  register: excalidraw_room_systemd_service_result

- name: Determine whether Excalidraw collaboration server needs a restart
  ansible.builtin.set_fact:
    excalidraw_room_restart_necessary: >-
      {{
        excalidraw_room_support_files_result.changed | default(false)
        or excalidraw_room_systemd_service_result.changed | default(false)
        or excalidraw_room_container_image_pull_result.changed | default(false)
        or excalidraw_room_container_image_build_result.changed | default(false)
      }}
