# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Excalidraw collaboration server systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ excalidraw_room_identifier }}.service"
  register: excalidraw_room_service_stat

- name: Uninstall Excalidraw collaboration server systemd services and files
  when: excalidraw_room_service_stat.stat.exists | bool
  block:
    - name: Ensure Excalidraw collaboration server systemd service is stopped
      ansible.builtin.service:
        name: "{{ excalidraw_room_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Excalidraw collaboration server systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ excalidraw_room_identifier }}.service"
        state: absent

    - name: Ensure Excalidraw collaboration server container network does not exist
      when: excalidraw_room_container_network_deletion_enabled
      block:
        - name: Ensure Excalidraw collaboration server container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ excalidraw_room_container_network }}"
            state: absent
          register: excalidraw_room_network_deletion_result

        - name: Ensure Excalidraw collaboration server container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ excalidraw_room_container_network }}
          register: excalidraw_room_network_deletion_result
          changed_when: excalidraw_room_container_network in excalidraw_room_network_deletion_result.stdout

    - name: Ensure Excalidraw collaboration server path does not exist
      ansible.builtin.file:
        path: "{{ excalidraw_room_base_path }}"
        state: absent
